.row {
    height: 100vh;
    width: 100vw;
    background-color: #fff;
}

.proyecto-cuerpo {
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.proyecto-cuerpo h2 {
    font-size: 2.5em;
}

.button {
    justify-content: right;
}

.container {
    height: 70vh;
    margin: 15px auto;
    display: flex;
    justify-content: center;
}

.container li {
    list-style: none;
}

.cards {
    float: left;
}

.card {
    width: 300px;
    align-content: center;
    border: 0.1px grey solid;
    height: auto;
}

.card_img {
    width: 100%;
    height: 150px;
    background-image: url(../../../assets/img/trabajos.jpg);
    background-size: cover;
}

.card__titulo {
    padding: 10px;
    text-align: center;
    background-color: #fff;
    color: black;
}

.proyecto__links {
    display: flex;
    justify-content: space-evenly;
    background-color: grey;
}

.proyecto__links a {
    color: #fff;
    text-decoration: none;
}

.proyecto__links i {
    font-size: 1em;
    color:black;
}