.row {
    background-color: #8ca9fa;
    width: 100vw;
    height: 100vh;
    align-items: center;
}

.acerca-de h2 {
    font-size: 2em;
}

.acerca-de-info {
    grid-column: 5/10;
    padding: 1em;
}

