<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <img src="../../../assets/img/perfil.jpg" class="img-fluid" alt="acerca de jose">
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <div class="acerca-de-info">
            <h2>Acerca de mi...</h2>
            <div class="divider"></div>
            <div class="iconos"><i class="fas fa-edit"></i></div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, magni?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio commodi quasi hic aspernatur quidem dolorum soluta, quo perspiciatis, tempora nulla inventore! Ipsam blanditiis consectetur officiis?</p>
                <br>
        </div>
    </div>
</div>
