<div class="row">
    <div class="estudios-cuerpo">
        <h2>Estudios</h2>
        <button type="button" class="btn btn-dark">Nuevo estudio</button>
    </div>
    <div class="divider"></div>
    <div class="container">
        <ul class="item-list">
            <li class="cards">
                <div class="card">
                    <div class="card_img">
                    </div>
                    <div class="card__titulo">
                        <h3>Nombre</h3>
                        <br>
                        <p>Descripción de estudio</p>
                        <p>desde-hasta</p>
                    </div>
                    <div class="estudios__links">
                        <!--<button class="btn btn-secondary" routerLink="/editest/{{Estudios.id}}"><i class="bi bi-pencil"></i></button>
                        <button class="btn btn-secondary" (click)="delete(Estudios.id)"><i class="bi bi-x"></i></button>-->
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>