.skills{
    width: 100vw;
    height: 100vh;
    background-color: #8ca9fa;
}

.superior{
    display: flex;
    flex-direction: row;
}

.habilidades {
    padding: 2em;
}

.habilidades h2 {
    font-size: 2.5em;
}

.progreso {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    justify-content: center;
}

.progreso p {
    text-align: center;
}

button{
    width: auto;
    margin-top: 30px;
}