<div class="habilidades">
    <h2>Habilidades</h2>
    <button type="button" class="btn btn-dark">Nueva Skill</button>
    <div class="divider"></div>
</div>
<div class="progreso">
    <div class="skill">
        <circle-progress [percent]="95" [subtitle]="'Excel'" [subtitleFontSize]="'1.5em'"></circle-progress>
    </div>
    <div class="experiencia__links">
        <!--<button class="btn btn-secondary" routerLink="/editskills/{{skills.id}}"><i class="bi bi-pencil"></i></button>
        <button class="btn btn-secondary" (click)="delete(skills.id)"><i class="bi bi-x"></i></button>-->
    </div>
</div>
